body {
  position: relative;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: lightgray;
}

#calendar {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 50vw;
  height: 90vh;
  background: lightgray;
}

#header {
  position: absolute;
  top: 5vh;
  left: 60vw;
  width: 35vw;
  height: 10vh;
  /*background: red;*/
}

#content {
  position: absolute;
  top: 20vh;
  left: 60vw;
  width: 35vw;
  height: 75vh;
  /*background: lightblue;*/
}

#name-box{
  font-size: 20px;
  width: 60%;
}

#date-box{
  font-size: 20px;
  width: 60%;
}

#calendar-title {
  height: 10vh;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}

#todotitle{
  position: absolute;
  height: 100%;
  width: 80%;
  
  padding: 5px;
  font-size: 45px;
}

#add-btn {
  position: absolute;
  height: 100%;
  width: 20%;
  right: 0%;
  padding: 5px;
  font-size: 45px;
}

#calendar-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: lightgray;
}
#calendar-day > div {
  background: lightblue;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}
#calendar-day > div.sun {
  color: red;
}
#calendar-day > div.sat {
  color: blue;
}

#calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  background: #ddd;
}
#calendar-grid > div {
  background: white;
  margin: 5px;
  padding: 5px;
  height: 12vh;
  text-align: right;
  border-radius: 10px;
}
#calendar-grid > div.this-month {
  font-weight: bold;
  color: black;
}
#calendar-grid > div.that-month {
  color: gray;
}

.task-box {
  padding-left: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  border-radius: 4px;
  background-color: lightblue;
}